.homes {
    grid-column: center-start/ center-end;

    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    row-gap: 3.5rem;
    font-size: 1.5rem;

    &__img {
        width: 100%;
        grid-column: 1 / span 2;
        grid-row: 1/2;
    }

    &__name {
        grid-column: 1 / span 2;
        grid-row: 1/2;
        width: 80%;
        font-size: 1.6rem;
        font-family: $font-display;
        font-weight: 400;
        text-align: center;
        background-color: $color-secondary;
        padding: 1.25rem;
        color: #fff;
        align-self: end;
        justify-self: center;
        transform: translateY(50%);
    }
    &__like {
        position: absolute;
        right: 0;
        top: 1rem;
    }
    svg {
        height: 2rem;
        width: 2rem;
        fill: $color-primary;
        margin-right: 1rem;
    }

    .btn {
        grid-column: 1 / span 2;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        display: flex;
        margin-left: 2rem;
        align-items: center;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }
}
